* {
  font-family: Tangerine;
}
main {
  height: 100vh;
  display: grid;
  grid-template-columns: 64% 18% 18%;
  grid-template-rows: 50% 45% 5%;
  font-family: Tangerine;
}
.class1 {
  grid-row-start: span 2;
  background: linear-gradient(
      rgba(255, 255, 255, 0.7),
      rgba(255, 255, 255, 0.7)
    ),
    url(modern.jpg);
  margin: 0px 0px 0px 5px;
}

.class6 {
  grid-column-start: span 3;
  background: linear-gradient(
      rgba(255, 255, 255, 0.7),
      rgba(141, 124, 124, 0.7)
    ),
    url(footer.jpg);
}
.about {
  text-align: center;
}
p {
  margin-left: 20px;
  margin-right: 20px;
}
/* #myVideo {
  height: 100%;
  width: 100%;
  overflow: hidden;
  margin-left: -150px;
} */
