main {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 15% 1fr 15%;
  height: 100vh;
  font-family: Tangerine;
}
.box1 {
  grid-column-start: span 3;
  background-color: rgb(111, 204, 111);
  background-image: linear-gradient(
      rgba(255, 255, 255, 0.4),
      rgba(224, 215, 215, 0.4)
    ),
    url(salon.jpeg);
}

.box5 {
  grid-column-start: span 3;
  background-color: rgb(111, 204, 111);
  background-image: linear-gradient(
      rgba(255, 255, 255, 0.4),
      rgba(224, 215, 215, 0.4)
    ),
    url(salon.jpeg);
  background-position: 100% 100%;
}
.one {
  margin-top: -108px;
  border-radius: 50px;
  width: 70px;
  height: 70px;
  margin-left: 600px;
}
.box3 {
  background: linear-gradient(
      rgba(255, 255, 255, 0.7),
      rgba(224, 215, 215, 0.7)
    ),
    url(salon.jpeg);
  background-size: cover;
  margin-top: 40px;
}
iframe {
  width: 100%;
  height: 100%;
}

h2,
h5,
h4 {
  text-align: center;
}
.main1 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;

  font-family: Tangerine;
}
.youtube,
.facebook,
.instagram {
  text-align: center;
  margin-top: 20px;
}
.box4 {
  background: linear-gradient(
      rgba(255, 255, 255, 0.7),
      rgba(224, 215, 215, 0.7)
    ),
    url(Untitled-1.jpg);
  background-size: cover;
}
