main {
  height: 100vh;
  display: grid;
  grid-template-columns: 60% 1fr 1fr;
  grid-template-rows: 20% 32% 40% 8%;
  font-family: Tangerine;
}
.box1 {
  grid-row: 1/4;
  background-image: linear-gradient(
      rgba(255, 255, 255, 0.5),
      rgba(255, 255, 255, 0.5)
    ),
    url('2c891abe2eb27bdfc5cd40337b31878d.jpg');
}

.box3 {
  grid-row: 1/3;
  background-size: cover;
  background-position: 40% 40%;
  background-image: url('model3.jpg');
}
/* img {
  height: 100%;
  width: 100%
} */
a {
  text-decoration: none;
  font-size: 1.2em;
  margin-left: 20px;
}

.box2 {
  background-size: contain;
  background-image: url('extreme11.jpg');
}

.box4 {
  background-image: url('newmodel1.jpg');
  background-size: cover;
}
.box6 {
  background-image: url('wasy.jpg');
  background-size: cover;
  grid-row-start: span 2;
}
.box5 {
  background-image: url('newmodel5.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  grid-row-start: span 2;
}
.box7 {
  background: linear-gradient(
      rgba(255, 255, 255, 0.7),
      rgba(224, 215, 215, 0.7)
    ),
    url(footer.jpg);
  text-align: center;
  margin-top: 6px;
  font-size: 1.2em;
  color: rgb(68, 66, 66);
}
.menu {
  margin-top: -30px;
  margin-bottom: 0px;
  text-align: center;
  text-decoration: none;
  margin-left: auto;
}
.tabela {
  margin-left: 280px;
  text-decoration: none;
  margin-top: -40px;
}
