* {
  margin: 0;
  padding: 0;
  font-family: Tangerine;
  box-sizing: content-box;
}
#wrapper {
  margin: 0 auto;
}
body {
  background: linear-gradient(
      rgba(255, 255, 255, 0.4),
      rgba(255, 255, 255, 0.4)
    ),
    url(tapetasalon.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
}
nav {
  background-color: rgb(94, 92, 92);
  background-size: 20%;
}

.nav-link {
  color: black;
  font-family: 'Tangerine', cursive;
  font-size: large;
  font-size: 2.2em;
}

nav a:hover {
  color: white;
  background-color: rgb(122, 119, 100);
}
.napis {
  font-size: 70px;
  text-align: center;
  margin: 10px 10% 20px 10%;
  padding-bottom: 15px;
  border-bottom: 2px goldenrod solid;
}
section {
  text-align: center;
  font-size: 1.4em;
  line-height: 3px;
}
img.one {
  width: 160px;
  margin-right: 50%;
  margin-left: 40%;
  border-radius: 50%;
  text-align: center;
}
p {
  line-height: 20px;
  margin-top: 40px;
}
h1 {
  margin: 10px;
}
footer {
  margin-top: 90px;
  text-align: center;
  font-size: 2em;
  background-color: silver;
}
